{% extends 'homeapp/base.html' %}
{% block index %}
    <h1>Django сайт</h1>

    <p>Django - это высокоуровневый фреймворк для веб-приложений на языке
    Python. Он был создан в 2005 году и с тех пор активно развивается и
    обновляется сообществом разработчиков по всему миру</p>
<h2>Преимущества использования Django</h2>
    <p>Использование Django имеет множество преимуществ, таких как:</p>
    <p>● Быстрая разработка веб-приложений</p>
    <p>● Простота и удобство использования</p>
    <p>● Высокая производительность</p>
    <p>● Безопасность</p>
    <p>● Масштабируемость</p>

{{ name }} {{ age }} {{ lastname }}

{% endblock %}